body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.navBar {
    border-bottom: solid 1px rgb(107, 107, 107);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.logoNavBar {
    text-align: left;
    margin-left: 48px;
}

.nomeEmpresaNavBar {
    text-align: center;
}

.botoesNavBar {
    text-align: right;
    margin-right: 48px;
}

.botaoNavBar {
    height: 48px;
    border: none;
    background-color: gray;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.botaoNavBar:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 1px black;
}

.conteudoDaPagina {
    width: 920px;
    text-align: justify;
    margin: 0 auto;
    background-color: rgba(122, 122, 122, 0.877);
    padding: 20px;
    position: relative;
    z-index: 1;
    color: white;
    margin-bottom: 500px;
    height: 1440px;
}

.titulo {
    text-align: center;
}

.imagemPagPrincipal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Alterado de fixed para relative */
    width: 100%;
    bottom: 0;
    left: 0;
}


.fundoDoConteudo {
    background-image: url("Imagens/Fundo\ octogonal\ branco\ e\ grafite.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 1440px;
    padding: 50px 0;
}

table{

    width: 100%;
    height: 200px;
    -webkit-box-shadow: 14px 16px 10px 1px rgba(111,111,111,0.38); 
    box-shadow: 14px 16px 10px 1px rgba(111,111,111,0.38);
    

}
table thead th{

    background-color: rgb(189, 188, 188);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: solid 1px rgb(0, 0, 0);

}
table tbody{

    text-align: center;

}

table tr:nth-child(even){
    background-color: rgb(185, 104, 104);
    color: white;
}
table tr:hover{
    background-color: rgb(146, 146, 146);
}
video{

    text-align: center;

}
form{
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    width: 50%; /* Define a largura do formulário */
    padding: 20px; /* Adiciona algum espaçamento interno ao formulário */
    background-color: #f2f2f2; /* Cor de fundo do formulário */
    border-radius: 8px; /* Adiciona bordas arredondadas ao formulário */    
}
label {
    display: block; /* Faz com que os rótulos ocupem uma linha inteira */
    margin-bottom: 8px; /* Adiciona um espaço inferior entre os rótulos */
    color: black;
}

/* Estilos para os campos de entrada do formulário */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Define a largura total para os campos de entrada */
    padding: 8px; /* Adiciona algum espaçamento interno */
    margin-bottom: 16px; /* Adiciona um espaço inferior entre os campos */
    border-radius: 4px; /* Adiciona bordas arredondadas aos campos de entrada */
    border: 1px solid #ccc; /* Adiciona uma borda */
    box-sizing: border-box; /* Faz com que a largura inclua a espessura da borda */
}

/* Estilos para o botão de envio do formulário */
input[type="submit"] {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Adiciona algum espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao pairar sobre o botão */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Cor de fundo do botão ao passar o mouse */
}


