body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }

a { color:rgb(7, 7, 119); text-decoration: none;}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.logo img{
    width: 80px;
    margin: 24px;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
main {
    grid-area: main; /* Adicionado para corresponder à área main definida no layout */
}
section {
    width: 100%; /* Faz a seção ocupar todo o espaço disponível dentro do main */
}

#figuraSection {
    text-align: center;
    margin: 0; /* Remova a margem padrão para centralizar completamente a imagem */
}

#figuraSection img {
    max-width: 100%; /* Ajusta a largura máxima da imagem para não ultrapassar a largura da seção */
    height: auto; /* Permite que a altura da imagem seja ajustada automaticamente de acordo com a largura */
    border-radius: 24px;
    border: solid 1px rgb(136, 132, 132);
}

#sidebarFigure img {
    max-width: 100%; /* Definir a largura máxima da imagem */
    height: auto; /* Permitir que a altura da imagem seja ajustada automaticamente */
    border-radius: 24px;
    border: solid 1px rgb(136, 132, 132);
}

.center-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.video-iframe {
    width: 560px;
    height: 315px;
}


/* Estilos para o footer */
.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

.social-links a:hover {
    color: #aaa;
}

.footer-bottom {
    background-color: #393838;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: white;
}
